<!-- <div class="row">
    <div class="col">
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th> Emp ID </th>
                    <th> Employee Name </th>
                    <th> Email </th>
                    <th> Designation </th>
                    <th> Role </th>
                    <th class="text-center"> Action </th>
                </tr>
            </thead>
            <tbody>
                @for(item of custData; track $index){
                <tr>
                    <td> {{item.id}} </td>
                    <td> {{item.name}} </td>
                    <td> {{item.email}} </td>
                    <td> {{item.phone}} </td>
                    <td> {{item.username}} </td>
                    <td class="text-center">
                        <button class="btn btn-primary">Edit</button> ||
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>

</div> -->

<div class="row">
    <div class="col">

        <table mat-table [dataSource]="custData" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> SNo. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>
</div>