.notification-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification-dropdown {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    left: 0 !important;
    right: auto !important;
}

.dropdown-toggle::after{
    display: none;
    }