
img {
    max-width: 100%;
}

.container {
    max-width: 96%;
    margin: 0 auto;
}

p {
    line-height: 26px;
}

h1 {
    font-size: 77px;
    font-weight: 300;
    padding: 0;
    line-height: 100px;
    margin: 0px 0 15px 0;
}

h2 {
    font-size: 34px;
    font-weight: 400;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.welcome-text {
    padding: 20px;
    margin: 10px 0 0 0;
}

.welcome-text span {
    font-size: 20px;
    color: #555 !important;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0 0 0 45px;
    color: #555;
    font-size: 18px;
    border: none;
}

li.active {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.elow-navs li:first-child {
    margin-left: 0;
}

.aove-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.aove-nav .logo {
    width: 150px;
}

.all-services-cards {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.all-services-cards > div {
    max-width: 23%;
    flex: 1 23%;
    border: 1px solid #ccc
}

.all-services-cards img {
    width: 100%;
    height: 155px;
    object-fit: cover;
}
.cursor-pointer {
    cursor: pointer;
}
.services-info {
    padding: 15px;
}

.services-info p {
    font-size: 24px;
    margin: 0 0 10px 0;
    min-height: 55px;
    color: #006500;
}

.services-info span {
    font-size: 16px;
    line-height: 150%;
    color: #555555;
}

.co-creation {

}

.content-section {
    gap: 40px;
}

.content-img {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    height: 450px;
    margin-bottom: 30px;
}

.content-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  
    li {
      padding: 10px;
      cursor: pointer;
  
      &.active {
        font-weight: bold;
        color: #007bff; 
        border-bottom: 2px solid #007bff; 
      }
    }
  }
  .rtl-direction {
    direction: rtl;
  }