<div class="container-fluid">
  <div class="my-4 d-flex justify-content-end">
    <app-notification></app-notification>
  </div>
  <div class="d-flex">
    <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
      <ng-container ngbNavItem="file-upload">
        <button ngbNavLink>File Upload</button>
        <ng-template ngbNavContent>
          <app-file-upload [allowedFileTypes]="file_formats" [allowMultiple]="true"
          (filesChanged)="onFilesChanged($event)">
        </app-file-upload>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="accordion">
        <button ngbNavLink>Accordion</button>
        <ng-template ngbNavContent>
          <app-expand-collapse />
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="search">
        <button ngbNavLink>Type Ahead</button>
        <ng-template ngbNavContent>
          <app-type-ahead />
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="settings">
        <button ngbNavLink>Search</button>
        <ng-template ngbNavContent>
          <app-search />
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="langtranslate">
        <button ngbNavLink>Language Translate</button>
        <ng-template ngbNavContent>
          <app-lang-translate />
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="bookmark">
        <button ngbNavLink>Bookmark</button>
        <ng-template ngbNavContent>
          <app-bookmarks />
        </ng-template>
      </ng-container>
    </div>
  
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
  </div>
</div>